<form [formGroup]="form" (submit)="onSubmit()">
  <div class="">
    <ol class="flex flex-col justify-around">
      <li class="form-control w-full">
        <label class="label">
          <span class="label-text">Name</span>
        </label>
        <input
          type="text"
          class="input input-bordered w-full"
          formControlName="name"
        />
      </li>
      <li class="form-control w-full">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input
          type="email"
          class="input input-bordered w-full"
          formControlName="email"
        />
      </li>
      <li class="form-control w-full">
        <label class="label">
          <span class="label-text">Phone</span>
        </label>
        <input
          type="text"
          class="input input-bordered w-full"
          formControlName="phone"
        />
      </li>
    </ol>
  </div>
  <div class="card-actions justify-end mt-4">
    <button class="btn btn-primary">{{ contact ? 'Update' : 'Create' }}</button>
  </div>
</form>
