<div class="flex flex-col gap-8">
  <ng-container *ngIf="event$ | async as event">
    <app-event-form
      [event]="event"
      (handleSubmit)="updateEvent($event)"
    ></app-event-form>
    <div class="divider"></div>
    <section class="flex flex-col gap-4">
      <h2 class="h2">2. Assign Movies</h2>
      <ng-container *ngIf="activeMovieTab$ | async as activeMovieTab">
        <div class="tabs tabs-boxed">
          <button
            (click)="switchMovieTab('selected')"
            [ngClass]="{ 'tab-active': activeMovieTab === 'selected' }"
            class="tab"
            title="List selected movies"
          >
            Show Selected Movies
          </button>
          <button
            (click)="switchMovieTab('assign')"
            [ngClass]="{ 'tab-active': activeMovieTab === 'assign' }"
            class="tab"
            title="Search and select new movies"
          >
            Search and select new movies
          </button>
        </div>
        <div class="card">
          <ng-container *ngIf="activeMovieTab === 'selected'">
            <ng-container *ngIf="selectedMovies$ | async as selectedMovies">
              <app-movie-card-list>
                <li class="relative" *ngFor="let movie of selectedMovies">
                  <app-movie-item
                    [movie]="movie"
                    (handleClick)="removeMovie($event, event)"
                  >
                  <app-icon-delete></app-icon-delete>
                  </app-movie-item>
                </li>
              </app-movie-card-list>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="activeMovieTab === 'assign'">
            <app-movies-search
              (movieSelected)="addMovie($event, event)"
            ></app-movies-search>
          </ng-container>
        </div>
      </ng-container>
    </section>
    <div class="divider"></div>
    <section class="flex flex-col gap-4">
      <h2 class="h2">3. Invite Guests</h2>
      <ng-container *ngIf="activeContactTab$ | async as activeContactTab">
        <div class="tabs tabs-boxed">
          <button
            (click)="switchContactTab('selected')"
            [ngClass]="{ 'tab-active': activeContactTab === 'selected' }"
            class="tab"
            title="List selected movies"
          >
            Invited Guests
          </button>
          <button
            (click)="switchContactTab('assign')"
            [ngClass]="{ 'tab-active': activeContactTab === 'assign' }"
            class="tab"
            title="Search and select new movies"
          >
            Select Guests
          </button>
        </div>
        <div class="card">
          <ng-container *ngIf="activeContactTab === 'selected'">
            <ng-container *ngIf="selectedContacts$ | async as selectedContacts">
              <ul
                class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-4 md:gap-8 my-0"
              >
                <li *ngFor="let contact of selectedContacts">
                  <app-contact-card
                    [contact]="contact"
                    (handleClick)="removeContact(contact.id, event)"
                  >
                    <app-icon-delete></app-icon-delete>
                  </app-contact-card>
                </li>
              </ul>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="activeContactTab === 'assign'">
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
              <div class="md:col-span-2 lg:col-span-3">
                <ng-container
                  *ngIf="unSelectedContacts$ | async as unSelectedContacts"
                >
                  <ul
                    class="grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-8 my-0"
                  >
                    <li *ngFor="let contact of unSelectedContacts">
                      <app-contact-card
                        [contact]="contact"
                        (handleClick)="addContact(contact.id, event)"
                      >
                        <app-icon-add></app-icon-add>
                      </app-contact-card>
                    </li>
                  </ul>
                </ng-container>
              </div>
              <section class="flex flex-col gap-4 card bg-neutral">
                <div class="card-body">
                  <h3 class="h3">Add new Contact</h3>
                  <app-contact-form
                    (handleSubmit)="createContantAndAddGuest($event, event)"
                  ></app-contact-form>
                </div>
              </section>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </section>
  </ng-container>
</div>
