<header>
  <nav class="flex items-center justify-between bg-primary">
    <ul class="flex items-center m-0 p-2 bg-primary">
      <li>
        <a routerLink="/movies" routerLinkActive="activenav" class="nav">Movies</a>
      </li>
      <li>
        <a routerLink="/events" routerLinkActive="activenav" class="nav">Events</a>
      </li>
      <li>
        <a routerLink="/friends" routerLinkActive="activenav" class="nav">Friends</a>
      </li>
    </ul>
    <ul class="flex items-center m-0 p-2 bg-primary">
      <li>
        <a routerLink="/docs" routerLinkActive="activenav" class="nav">Docs</a>
      </li>
    </ul>
  </nav>
</header>
<main class="container mx-auto my-16">
  <router-outlet></router-outlet>
</main>
