
<div class="divider"></div>
<div class="flex flex-col gap-8">
  <!-- <ul class="steps">
    <li class="step step-primary">Plan Event</li>
    <li class="step">Select Movies</li>
    <li class="step">Invite Guests</li>
  </ul>
  <div class="divider"></div> -->
  <section class="flex flex-col gap-4">
    <h2 class="h2">1. Plan Your Event</h2>
    <div class="card bg-neutral">
      <div class="card-body">
        <form [formGroup]="form" (submit)="onSubmit()">
          <div class="grid grid-cols-2 gap-4">
            <ol class="flex flex-col justify-around">
              <li class="form-control w-full">
                <label class="label">
                  <span class="label-text">Title</span>
                </label>
                <input type="text" placeholder="Give it a cool title" class="input input-bordered w-full" formControlName="title" />
              </li>
              <li class="w-full">
                <ol class="grid grid-cols-2 gap-4">
                  <li class="form-control w-full">
                    <label class="label">
                      <span class="label-text">Date</span>
                    </label>
                    <input type="date" placeholder="dd.mm.yyyy" class="input input-bordered w-full" formControlName="date" />
                  </li>
                  <li class="form-control w-full">
                    <label class="label">
                      <span class="label-text">Begins at</span>
                    </label>
                    <input type="time" placeholder="HH:MM" class="input input-bordered w-full" formControlName="beginsAt" />
                  </li>
                </ol>
              </li>
              <li class="form-control w-full">
                <label class="label">
                  <span class="label-text">Location</span>
                </label>
                <input type="text" placeholder="Enter the address" class="input input-bordered w-full" formControlName="location" />
              </li>
            </ol>
            <ol class="flex flex-col gap-2 h-full">
              <li class="form-control h-full">
                <label class="label">
                  <span class="label-text">Description</span>
                </label>
                <textarea class="textarea textarea-bordered h-full" placeholder="Enter a nice description" formControlName="description"></textarea>
              </li>
            </ol>
          </div>
          <div class="card-actions justify-end mt-4">
            <button class="btn btn-primary ">Create</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- <div class="divider"></div>
  <section class="flex flex-col gap-4">
    <h2 class="h2">2. Select Movies</h2>
    <div class="tabs tabs-boxed">
      <a [routerLink]="'list'" routerLinkActive="tab-active" class="tab" title="Selected">
        Movies
      </a>
      <a [routerLink]="'new'" routerLinkActive="tab-active" class="tab" title="Add new event">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
      </a>
    </div>
    <div class="card">
      <app-movies-search></app-movies-search>

    </div>
  </section> -->
<!--
  <div class="tabs w-full">
    <a class="tab tab-lg tab-lifted">Selected Movies</a>
    <a class="tab tab-lg tab-lifted tab-active">Seach Movies</a>
  </div>

  <div class="tabs tabs-boxed">
    <a [routerLink]="'list'" routerLinkActive="tab-active" class="tab tab-lg" title="List of upcoming events">
      Selected Movies
    </a>
    <a [routerLink]="'new'" routerLinkActive="tab-active" class="tab tab-lg" title="Add new event">
      Search Movies
    </a>
  </div>

  <section>
    <h2 class="h2">Search and Assign Movies</h2>
    <div class="card">
      <app-movies-search></app-movies-search>

    </div>
  </section> -->
</div>

<!-- <div class="grid grid-cols-4 gap-8">

  <div class="col-span-3 ">
    <h2 class="h2">Search and Assign Movies</h2>
    <div class="card">
      <app-movies-search></app-movies-search>

    </div>


  </div>
</div> -->
